<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class='row' id='tasks'></div>
      <form id="add-tasks">
      <input id="new-task-additions" type="text" placeholder="Name your Activity" required/>
      <button class="addingButton"> Add it to the stack </button>
  </form> 
    </div>
  </div>
</div>